<h1>Ingreso de Resultado</h1>

<h3>Gran premio de @ViewBag.Carrera.Ciudad</h3>

<p class="text-warning">@ViewBag.Error</p>

<form asp-action="GuardarResultado" method="post" class="form-group">
    <input type="hidden" name="IdCarrera" value="@ViewBag.Carrera.IdCarrera/>
    <div class="form-control">
        <label for="Piloto">Selecione el piloto</label>
        <select name="Piloto">
            @foreach (Piloto piloto in ViewBag.Pilotos)
            {
                <option value="@piloto.NumeroPiloto">@piloto.NombrePiloto</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="PosicionSalida">Selecione la posicion de Salida</label>
        <select name="PosicionSalida">
            @foreach (int posicion in ViewBag.PosicionesSalida)
            {
                <option value="@posicion">@posicion</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="PosicionLLegada">Selecione la posicion de Llegada</label>
        <select name="PosicionLLegada">
            @foreach (int posicion in ViewBag.PosicionesLlegada)
            {
                <option value="@posicion">@posicion</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="@Url.Action("Listado", "ControladoraCarreras")" class="btn btn-secondary">Cancelar</a>

</form>
