@model IEnumerable<Formula_1.Models.Carrera>

@{
    ViewBag.Title = "Listado de Carreras";
}

<div class="text-center container-lg">
    <h1>Listado de Carreras</h1>
    <h5 class="text-danger">@ViewBag.Error</h5>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IdCarrera</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Fecha Inicio</th>
            <th>Acciones</th>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Carrera carrera in ViewBag.Carreras)
        {
            <tr>
                <td>@carrera.IdCarrera</td>
                <td>@carrera.Nombre</td>
                <td>@carrera.Ciudad</td>
                <td>@carrera.fecha.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("Editar", "ControladoraCarreras", new { id = carrera.IdCarrera })" class="btn btn-warning btn-sm">Editar</a>
                    <a href="@Url.Action("Eliminar", "ControladoraCarreras", new { id = carrera.IdCarrera })" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
                <td>
                    @if (ViewBag.cantPilotos){
                    <a href="@Url.Action("IngresoDeResultado", "ControladoraCarreras", new { id = carrera.IdCarrera })" class="btn btn-primary btn-sm">Ingresar</a>
                    }else {
                        <p>inhabilitado</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Crear", "ControladoraCarreras")" class="btn btn-primary">Agregar Nueva Carrera</a>


