<div class="container mt-5">
    <h1 class="mb-4">Editar Piloto</h1>


    <form action="/ControladoraPilotos/Editar" method="post" class="form-group">
     
        <input type="hidden" name="id" value="@ViewBag.Piloto.NumeroPiloto" />

       
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" value="@ViewBag.Piloto.NombrePiloto" />
        </div>
        <div class="mb-3">
            <label for="Numero" class="form-label">Número del auto</label>
            <input type="number" name="numero" class="form-control" value="@ViewBag.Piloto.NumeroAuto" />
        </div>
        <div class="mb-3">
            <label for="FechaNac" class="form-label">Fecha de Nacimiento</label>
            <input type="date"  name="FechaNac" class="form-control" value="@ViewBag.Piloto.FechaNac.ToString("yyyy-MM-dd")" />
        </div>
        <div class="mb-3">
            <label for="PaisOrg" class="form-label">País de Origen</label>
            <input type="text" name="PaisOrg" class="form-control" value="@ViewBag.Piloto.PaisDeOrigen" />
        </div>
        <div class="mb-3">
            <label for="Escuderia" class="form-label">Seleccione su Escudería</label>
            <select id="Escuderia" name="Escuderia" class="form-select">
                
                <option value="@ViewBag.Piloto.Escuderia.IdEscuderia" selected>
                    @ViewBag.Piloto.Escuderia.Nombre
                </option>
               
                @foreach (Escuderia escuderia in ViewBag.Escuderias)
                {
                        <option value="@escuderia.IdEscuderia">@escuderia.Nombre</option>
                }
            </select>
        </div>

        
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="@Url.Action("Listado", "ControladoraPilotos")" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
