@{
	ViewBag.Title = "Estadisiticas";
}


<div class="text-center mb-3 my-3">
	<h1>Bienvenido a la central de Estadisiticas</h1>

	<h4>Todo sobre la Forumla 1 al alcance de tu mano</h4>
</div>

<div class="my-3">
	<h1>Mundial de Pilotos</h1>
	<table class="table table-striped">
		<thead>
			<tr>				
				<td>Numero</td>
				<td>Nombre</td>
				<td>Escuderia</td>
				<td>Puntaje</td>
				<td>Historial</td>				
			</tr>
		</thead>
		<tbody>
			@if(ViewBag.Pilotos != null){
				@foreach (Piloto piloto in ViewBag.Pilotos)
				{
					<tr>
						<td>@piloto.NumeroAuto</td>
						<td>@piloto.NombrePiloto</td>
						<td>@piloto.Escuderia.Nombre</td>
						<td>@piloto.PuntajeAcumulado</td>
						<td>
							<a href="@Url.Action("HistorialPiloto", "ControladoraEstadisticas", new { id = piloto.NumeroPiloto })" class="btn btn-primary btn-sm">Ver</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

<div class="my-3">
	<h1>Mundial de Constructores</h1>
	<table class="table table-striped">
		<thead>
		<tr>
			<td>Nombre</td>
			<td>Sponsor</td>
			<td>Pais de Origen</td>
			<td>Piloto 1</td>
			<td>Piloto 2</td>
			<td>Puntaje Acumulado</td>
			<td>Resultados</td>
		</tr>
		</thead>
		<tbody>
			@foreach(Escuderia esc in ViewBag.Escuderias)
			{
				<tr>
					<td>@esc.Nombre</td>
					<td>@esc.SponsorPrincipal</td>
					<td>@esc.PaisDeOrigen</td>
					@if (esc.Pilotos.Count >= 1)
					{
						<td>@(esc.Pilotos[0].NombrePiloto) </td>
					}
					else
					{
						<td>Vacante</td>
					}
					@if (esc.Pilotos.Count == 2)
					{
						<td>@(esc.Pilotos[1].NombrePiloto) </td>
					}
					else
					{
						<td>Vacante</td>
					}
					<td>@esc.PuntajeAcumulado</td>
					<td>
						<a href="@Url.Action("HistorialEscuderia", "ControladoraEstadisticas", new { id = esc.IdEscuderia })" class="btn btn-primary btn-sm">Ver</a>
					</td>
				</tr>
			}
		
		</tbody>
	</table>
</div>