@model Formula_1.Models.Escuderia

@{
    ViewBag.Title = "Editar Escudería";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="IdEscuderia" />
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" value="@ViewBag.Nombre"/>
    </div>
    <div>
        <label asp-for="PaisDeOrigen"></label>
        <input asp-for="PaisDeOrigen" class="form-control" value="@ViewBag.PaisDeOrigen" />
    </div>
    <div>
        <label asp-for="SponsorPrincipal"></label>
        <input asp-for="SponsorPrincipal" class="form-control" value="@ViewBag.SponsorPrincipal" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="@Url.Action("Listado", "ControladoraEscuderias")" class="btn btn-secondary">Cancelar</a>

</form>
