@model IEnumerable<Formula_1.Models.Escuderia>

@{
    ViewBag.Title = "Listado de Escuderías";
}

<h2>Listado de Escuderías</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Puntaje Acumulado</th>
            <th>País de Origen</th>
            <th>Sponsor Principal</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Escuderia escuderia in ViewBag.Escuderias)
        {
            <tr>
                <td>@escuderia.Nombre</td>
                <td>@escuderia.PuntajeAcumulado</td>
                <td>@escuderia.PaisDeOrigen</td>
                <td>@escuderia.SponsorPrincipal</td>
                <td>
                    <a href="@Url.Action("Detalles", "ControladoraEscuderias", new { id = escuderia.IdEscuderia })" class="btn btn-info btn-sm">Detalles</a>
                    <a href="/ControladoraEscuderias/Editar/@escuderia.IdEscuderia" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/ControladoraEscuderias/Eliminar/@escuderia.IdEscuderia" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    @if ((ViewBag.PuedeAgregar as bool?) ?? false)
    {
        <a href="@Url.Action("Crear", "ControladoraEscuderias")" class="btn btn-primary" style="@(ViewBag.PuedeAgregar ? "" : "display:none;")"> Agregar Nueva Escudería </a>


    }
    else
    {
        <p>No se pueden agregar más Escuderias. El límite es 10.</p>
    }
</div>